.footer{
    background-color: gainsboro;
    padding: 20px 0px;
    text-align: center;
}
.footer ul{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.footer li{
    display: inline-block;
    padding: 0px 10px;
}